<div class='card-header'>
  <h5 class='card-title'>Eventos</h5>
</div>
<div class='card-body'>
  <div class='table-responsive row'>
    <table class=' col-12 table table-striped tablaEventos' id='tablaEventos' style='width: 100%'>
      <thead class='text-primary'>
      <tr>
        <th scope='col'>ID Evento</th>
        <th scope='col'>Fecha</th>
        <th scope='col'>Descripción</th>
        <th scope='col'>ID Condominio</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class='card-footer '>
  <hr>
</div>