<div class='card-header'>
  <h5 class='card-title'>Eventos</h5>
  <p class='card-category'>Ingreso manual de eventos</p>
</div>
<select name="condominioev" id="condominioeven" class="form-select mb-2" aria-label="Condominio">
  <option selected>Seleccione Condominio</option>
</select>
<button type="submit"  class="btn btn-primary btn-lg btnEnviarCondominioeven">
  Seleccionar</button>
<div class='card-body'>
  <div class='table-responsive row'>
    <table class=' col-12 table table-striped tablaEventos' id='tablaEventos' style='width: 100%'>
      <thead class='text-primary'>
      <tr>
        <th scope='col'>ID Evento</th>
        <th scope='col'>Fecha</th>
        <th scope='col'>Descripción</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class='card-footer '>
  <hr>
</div>