<div class='card-header'>
  <h5 class='card-title'>Residentes</h5>
  <p class='card-category'>Información residentes</p>
</div>
<div class='card-body residenteLista'>
  <div class='table-responsive row'>
    <table class=' col-12 table table-striped tablaResidentes' id='tablaResidentes' style='width: 100%'>
      <thead class='text-primary'>
      <tr>
        <th scope='col'>Nombre</th>
        <th scope='col'>Apellido P</th>
        <th scope='col'>Apellido M</th>
        <th scope='col'>Run</th>
        <th scope='col'>Nacionalidad</th>
        <th scope='col'>Teléfono</th>
        <th scope='col'>Correo</th>
        <th scope='col'>Cantidad Multas</th>
        <th scope='col'>Acciones</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class='card-footer '>
  <hr>
</div>