<div class='card-header'>
    <h5 class='card-title'>Gastos Comunes</h5>
    <p class='card-category'>Información pagos gastos comunes del residente</p>
</div>
<div class='card-body residenteGastoComun'>
    <div class='table-responsive row'>
        <table class='display table table-striped responsive tablaGastoComun' id='tablaGastoComun' style="width: 100%">
            <thead class='text-info'><tr>
                <th scope='col'>Id Gasto Común</th>
                <th scope='col'>Fecha</th>
                <th scope='col'>Monto Total</th>
                <th scope='col'>Fecha Vencimiento</th>
                <th scope='col'>Monto Reservas</th>
                <th scope='col'>Monto Gasto Común</th>
                <th scope='col'>Acción</th>
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
    <hr>
    <h5 class="mt-5 card-title">Historial pagos cancelados</h5>
    <div class='table-responsive row'>
        <table class='display table table-striped responsive tablaGastoComunCancelado' id='tablaGastoComunCancelado'  style="width: 100%">
            <thead class='text-success'><tr>
                <th scope='col'>Id Gasto Común</th>
                <th scope='col'>Fecha</th>
                <th scope='col'>Monto Total</th>
                <th scope='col'>Fecha Vencimiento</th>
                <th scope='col'>Monto Reservas</th>
                <th scope='col'>Fecha de Pago</th>
                <th scope='col'>Monto Gasto Común</th>
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class='card-footer '>
    <hr>
</div>