<div class='card-header'>
    <h5 class='card-title'>Multas</h5>
    <p class='card-category'>Información multas del residente</p>
</div>
<div class='card-body residenteMultas'>
        <div class='table-responsive row'>
            <table class=' col-12 table table-striped tablaMultas' id='tablaMultas' style='width: 100%'>
                <thead class='text-primary'><tr>
                    <th scope='col'>Id multa</th>
                    <th scope='col'>Descripción</th>
                    <th scope='col'>Monto</th>
                    <th scope='col'>Fecha</th>
                    <th scope='col'>Pagar</th>
                    </tr></thead>
                <tbody></tbody>
            </table>
        </div>
</div>
<div class='card-footer '>
        <hr>
</div>
