<div class='card-header'>
  <h5 class='card-title'>Reservas</h5>
  <p class='card-category'>Información sus reservas</p>
</div>
<div class='card-body residenteReservasT'>
  <div class='table-responsive row'>
    <table class=' col-12 table table-striped tablaReservas' id='tablaReservas' style='width: 100%'>
      <thead class='text-primary'><tr>
        <th scope='col'>Id</th>
        <th scope='col'>Fecha</th>
        <th scope='col'>Horario</th>
        <th scope='col'>Nombre Servicio</th>
        <th scope='col'>Costo</th>
      </tr></thead>
      <tbody></tbody>
    </table>
  </div>
</div>
<div class='card-footer '>
  <hr>
</div>