<div class='card-header'>
  <h5 class='card-title'>Residentes</h5>
  <p class='card-category'>Información residentes</p>
</div>
<div class='card-body residenteLista'>
  <div class='row'>
<form>
  <div class="row">
    <div class="col-md-5 pr-1">
      <div class="form-group">
        <label>Rut</label>
        <input type="text" class="form-control" placeholder="Rut">
      </div>
    </div>
    <div class="col-md-3 px-1">
      <div class="form-group">
        <label>Descripción</label>
        <textarea type="text" class="form-control textarea" placeholder="Descripción"></textarea>
      </div>
    </div>
    <div class="col-md-4 pl-1">
      <div class="form-group">
        <label for="montoAPagar">Monto</label>
        <input id="montoAPagar" type="number" class="form-control" placeholder="Monto">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="update ml-auto mr-auto">
      <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
    </div>
  </div>

</form>
  </div>
</div>
<div class='card-footer '>
  <hr>
</div>